.manage-user-container {
    padding: 8px;

    .title {
        display: flex;
        font-size: 24px;
        font-weight: 500;
        justify-content: center;
    }
    .content {
        .btn-add {
            margin: 15px 3rem;
        }
        .table-container {
        }
    }
}

.modal-add {
    .label-upload {
        display: flex;
        align-items: center; // trục y dọc
        justify-content: center; // trục x ngang
        padding: 3px 10px;
        gap: 5px;
        width: fit-content; // khớp với ảnh, nội dung
        border: 2px solid black;
        background: rgb(240, 240, 240); // button face
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: #aaaaaa;
        }
    }
    .imgage-preview {
        display: flex;
        height: 150px;
        width: fit-content;
        border: 1px dashed #ccc;
        border-radius: 5px;
        justify-content: center; // trục x ngang
        align-items: center; // trục y dọc
        color: #ccc;
        img {
            max-height: 100%; // ảnh có thể vừa với div cha
            max-width: 100%;
        }
    }
}
