body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// lùi chữ sang hai bên
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1490px;
    }
}

.app-container {
    .header-container {
        // xem trong inspect cach ghi đè
        .navbar-nav {
            z-index: 10;
            // opacity: 0.8;
            background: rgba(0, 0, 0, 0) !important;
            .nav-link {
                // thêm dấu & để đứng ngang hàng
                &.active {
                    color: blue;
                }
            }
            // .active {
            //     color: blue;
            // }
        }
    }
    .main-container {
        .sidenav-container {
        }
        .app-content {
            .homepage-container {
                .vid {
                    .video1 {
                        position: absolute;
                        top: 100px;
                        right: 50px;
                        width: 200px;
                        height: auto;
                    }
                    .video2 {
                        position: absolute;
                        top: 100px;
                        right: 300px;
                        width: 200px;
                        height: auto;
                    }
                    .video4 {
                        position: absolute;
                        top: 100px;
                        right: 550px;
                        width: 200px;
                        height: auto;
                    }
                }

                .video3 {
                    position: absolute;
                    top: 100px;
                    right: 5%;
                    width: 400px;
                    height: auto;
                }
                .button {
                    position: absolute;
                    bottom: 0;

                    right: 300px;
                }

                .homepage-content {
                    margin-left: 64px;
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .title-1 {
                        margin-top: 32px;
                        font-weight: 400;
                        font-size: 64px;
                        line-height: 80px;
                    }
                    .title-2 {
                        font-size: 22px;
                    }
                    .title-3 {
                        button {
                            background: black;
                            color: white;
                            border-radius: 10px;
                            font-weight: bold;
                            padding: 16px;

                            &:hover {
                                background: gray;
                            }
                        }
                    }
                }
            }
        }
    }
}

.admin-container {
    .admin-sidebar {
        .css-ewdv3l {
            background: rgb(11, 41, 72);
            color: white;
            :hover {
                background: rgb(22, 118, 214);
            }
            .css-1tqrhto {
                background: rgb(7, 25, 44);
                color: white;
            }
        }
    }
}
