body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    .header-container {
        // xem trong inspect cach ghi đè
        .navbar-nav {
            z-index: 10;
            opacity: 0.8;
            .nav-link {
                // thêm dấu & để đứng ngang hàng
                &.active {
                    color: blue;
                }
            }
            // .active {
            //     color: blue;
            // }
        }
    }
    .main-container {
        .sidenav-container {
        }
        .app-content {
            .child {
                .video1 {
                    position: absolute;
                    top: 10%;
                    right: 50px;
                    width: 300px;
                    height: auto;
                }
                .video2 {
                    position: absolute;
                    top: 10%;
                    right: 400px;
                    width: 300px;
                    height: auto;
                }
                .video4 {
                    position: absolute;
                    top: 10%;
                    right: 750px;
                    width: 300px;
                    height: auto;
                }
            }

            .video3 {
                position: absolute;
                top: 10%;
                right: 5%;
                width: 500px;
                height: auto;
            }
            .button {
                position: absolute;
                bottom: 5%;

                right: 300px;
            }
        }
    }
}
